<button class="btn btn-xs btn-primary" data-call-method="changeData">
  TEST
</button>

{{view patientDashboardPatientsView}}

<div class="inline">
<table id="sideTable" class="cell-border">
  <thead>
    <tr>
      {{#each sidehead2}}
      <th><div class="tableScrollContainer"><div class="tableScroll">{{{this}}}</div></div></th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each sidepatients}}
    <tr>
      {{#each this}}
      <td><div>{{{this}}}</div></td>
      {{/each}}
    </tr>
    {{/each}}
  </tbody>
</table>
</div>

<div class="inline">
<table id="patientDashboardTable" class="cell-border" cellspacing="0">
  <thead>
    <!--tr>
      {{#each head1}}
      <th style="width: {{lookup ../widths @index}}px;"><div>{{{this}}}</div></th>
      {{/each}}
    </tr-->
    <tr>
      {{#each head2}}
      <th><div class="tableScrollContainer"><div class="tableScroll">{{{this}}}</div></div></th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each patients}}
    <tr>
      {{#each this}}
      <td><div>{{{this}}}</div></td>
      {{/each}}
    </tr>
    {{/each}}
  </tbody>
</table>
</div>
